@{
    ViewData["Title"] = "Home Page";
}

<div class="backgroundImg text-center">
    <h3 class="display-4 text-dark">Welcome to Martin's Diner</h3>
</div>
<div class="text-center">
    <img src="~/image/mvcDiner.jpg" width="400" class="img-fluid" alt="Responsive Image" />
</div>
